.static-width {
    width: 300px;
    height: 300px;
    background-color: #606060;
    background-image: url("http://images.math.cnrs.fr/IMG/png/section8-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
